/*CONTACTO*/

.contactoContenedor {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;

    input {
        width: 100%;
        padding: 3%;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    textarea {
        display: block;
        width: 100%;
        padding: 3%;
        margin-bottom: 10px;
        border-radius: 10px;
        overflow: auto;
    }
}

.contactoForm {
    padding: 10%;


    h3 {
        font-size: $tam-subtitulo;
        padding-top: 0;
        padding-bottom: 20px;
    }


}

.contactoInfo {
    padding: 10%;

    h1 {
        font-size: $tam-titulo;
        padding-bottom: 10px;
    }

    h3 {
        font-size: $tam-subtitulo;
        margin-bottom: 20px;
    }

    p {
        font-size: $tam-texto;
        margin-bottom: 50px;
    }
}

.destacado {
    background-color: $color-verde;
    color: $color-negro;
    max-width: 80%;
    font-weight: 700;
    padding: 25px;
    border-radius: 0px 20px 20px 20px;
    display: flex;
    gap: 15px;

    p {
        margin: 0;
        font-size: 1.5rem;
    }

    svg {
        width: 24px;
        height: 24px;
        fill: none;
    }
}



.svgIcon {
    width: 20px;
    height: 20px;
}