/*CONTACTO*/

.contactoContenedor {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;

    input {
        width: 500px;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    textarea {
        width: 500px;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        resize: none;
    }
}

.contactoInfo {
    h1 {
        font-size: calc($tam-titulo - 0.5rem);
        padding-bottom: 10px;
    }

    h3 {
        font-size: $tam-subtitulo;
        margin-bottom: 20px;
    }

    p {
        font-size: $tam-texto;
        margin-bottom: 50px;
    }
}

.destacado {
    background-color: $color-verde;
    color: $color-negro;
    font-weight: 700;
    padding: 25px;
    border-radius: 0px 20px 20px 20px;
    display: flex;
    gap: 15px;

    p {
        margin: 0;
    }

    svg {
        width: 24px;
        height: 24px;
        fill: none;
    }
}

.contactoForm h3 {
    font-size: $tam-subtitulo;
    padding-top: 0;
    padding-bottom: 20px;
}