/*HERO*/

/*MAIN*/

main {
    color: $color-blanco;
    display: flex;
    flex-direction: column;

    h1 {
        color: $color-blanco;
        font-size: 3rem;
        font-family: 'Manrope', sans-serif;
        font-weight: 900;
        line-height: 60px;
    }
}


.heroContenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    gap: 20px;
    min-height: calc(100vh - 72px);
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 0;

}

.heroImg {
    max-width: 100%;
    margin: 0 auto;
}

.heroTitle {
    color: $color-blanco;
    font-size: 4rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;


}

.heroParrafo {
    display: flex;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
}