/*HERO*/

/*MAIN*/

main {
    color: $color-blanco;
    display: flex;
    flex-direction: column;

    h1 {
        color: $color-blanco;
        font-size: 3rem;
        font-family: 'Manrope', sans-serif;
        font-weight: 900;
        line-height: 60px;
    }
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 20px;
}

.heroImg {
    max-width: 100%;
    margin: 0 auto;
}

.heroTitle {
    color: $color-blanco;
    font-size: 3rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    line-height: 60px;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    h1 {
        margin: 0;
    }
}

.heroParrafo {
    display: flex;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
}