/*NOSOTROS*/

.nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h1 {
        font-size: $tam-titulo;
        font-weight: 700;
    }
}

.nosotrosContenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    gap: 15px;
    min-height: calc(100vh - 72px);
}

.nosotrosItem {
    @include nosotrosItem
}

.nosotrosText {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
    padding: 0 50px;

    h3 {
        font-size: $tam-subtitulo;
        font-weight: 400;
        margin: 0;
    }

    h2 {
        font-size: $tam-titulo;
        font-weight: 800;
        margin: 0;
        line-height: 68px;

        span {
            font-weight: 400;
            display: block;
        }
    }

    p {
        font-size: $tam-texto;
        margin: 0;
        max-width: 60%;

        span {
            font-weight: 700;
        }
    }
}

.proceso {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: auto;
    margin: 20px;
    gap: 20px;
    background-image: url("../assets/trama-umbral.png");
    background-size: contain;
}

.procesoContenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: $color-blanco;
    border-radius: 50px;
    color: $color-negro ;
    padding: 10%;

    h2 {
        font-weight: 900;
        margin: 0;
        font-size: calc($tam-titulo + 0.5rem);
        line-height: auto;
    }

    h3 {
        font-weight: 900;
        margin: 0;
        font-size: $tam-subtitulo;
    }

    p {
        font-size: $tam-texto;
        margin: 0;
    }
}

.pasosContenedor {
    display: flex;
    flex-direction: column;
    background-color: $color-celeste;
    color: $color-negro;
    border-radius: 50px;
    padding: 70px;
    gap: 20px;
}

.pasosItem {
    color: $color-negro;
    padding-bottom: 10px;
    display: flex;
    align-items: start;
    gap: 20px;

    &.ultimo .pasosItemContent {
        border-bottom: none;
    }

    span {
        background-color: $color-negro;
        color: $color-blanco;
        padding: 20px;
        font-weight: 800;
        font-size: $tam-texto;
        border-radius: 50%;
        margin-right: 30px;
    }
}

.pasosItemContent {
    border-bottom: 1px solid $color-negro;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.pasosItem {
    h3 {
        font-size: $tam-texto;
        margin: 0;
    }

    p {
        font-size: calc($tam-texto - 0.5rem);
        margin: 0;
    }
}