/*PLANES*/
/*BOOTSTRAP*/
.planesContenedor {
    h1 {
        font-size: 2rem;
        font-weight: 700;
    }
}


.btn-primary {
    color: #363636;
    background-color: $color-verde;
    border: none;
    font-weight: 800;

    &:hover {
        color: $color-blanco;
        background-color: $color-negro;
    }
}