html,
body {
    width: 100%;
    position: relative;
}

body {
    background-color: $color-negro;
    font-family: 'Manrope', sans-serif;
    color: $color-blanco;
    margin: 0;
}

.dBlock {
    display: block;
}