/*SERVICIOS*/
/*USO DE GRID*/

.serviciosContenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
}

.servicioDestacado {
    h3 {
        font-weight: 900;
        font-size: 35px;
    }

    p {
        font-size: 1rem;
    }
}

.servicioItem {
    background-color: #D6E8F1;
    color: #363636;
    padding: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.imagenServicio {
    width: 300px;
}

.servicioItem {
    &.servicioDestacado {
        background-color: #ffffff;
    }

    img {
        max-width: 50%;
        margin: 0 auto;
    }

    h1 {
        color: #363636;
        font-size: 2.2rem;
        line-height: 2.8rem;

    }
}